* {
    margin: 0;
    margin-top: 0;
    padding: 0;
    /* -ms-overflow-style: none; */
    /* background-color: rgb(1, 1, 14); */
}

.Header-Box {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(255, 255, 255, 0.5)); */
    width: 100vw;
    height: 10vh;
    color: white;
}

.header-flex {
    display: flex;
}

.hero-div {
    background-image: url(./images/background-notebook.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.links-div {
    position: fixed;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.info-div {
    padding: 5%;
}

.link-item {
    color:white;
    text-decoration: none;
}

.hero-title {
    position: absolute;
    color: white;
    font-family: IBM Plex Sans Devanagari;
    font-size: 5rem;
    padding: 0;
    margin-left: 30%;
    margin-top: 15%;
    background-color:rgba(128, 128, 128, 0.78) ;
}

.hero-subtitle {
    position: absolute;
    color: white;
    font-family: IBM Plex Sans Devanagari;
}

.projects-page {
    color: white
}
