@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@100;300&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@100;300&family=Roboto+Condensed:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}


.header-flex {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 5%;
    width: 100%;
    /* background-color: rgba(3, 79, 132, 2); */
    background-color: #41436a;
    border-bottom: 2px solid white;
}

.hero-div {
    /* background-image: url(./images/background-notebook.jpg); */
    background-image: linear-gradient(#984063, #f64668);
    background-size: cover;
    height: 100vh;
}

.icons-header {
    position: fixed;
    float:left;
}

.icon-item {
    width: 50px;
    height: 50px;
}

.link-item {
    color:white;
    font-family: Roboto Condensed;
    text-decoration: none;
    margin-left: 5%;
    margin-top: 5%;
}

.link-item:hover {
    color: #fe9677;
}

.info-div {
    padding: 13% 15% 15% 15%;
    display: flex;
    flex-direction: column;
}

.links-div {
    position: fixed;
    color: white;
    text-decoration: none;
    font-size: 1.50rem;
    padding-left: 45%;
    width: 100%;
}

.hero-welcome {
    color: #fe9677;
    font-size: 2rem;
    font-family: Ubuntu;
}

.hero-title {
    position: relative;
    color: white;
    font-family: Ubuntu;
    font-size: 6rem;
    padding: 0;
}

.hero-subtitle {
    position: relative;
    color: white;
    font-family: IBM Plex Sans Devanagari;
    font-size: 2rem;
    color: #fe9677;
}

.about-session {
    background-image: linear-gradient(#f64668, #2c73d2);
    /* background-image:url("./images/background-notebook.jpg"); */
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

.about-text {
    font-size: 1.6rem;
    font-family: Ubuntu;
    color: white;
    max-width: 30%;
    max-height: 100%;
    padding: 3%;
    border: 3px solid #41436a;
    border-radius: 20%;
}

.about-img {
    width: 15%;
    height: 15%;
    border: 3px solid #41436a;
    margin-left: 5%;
}

.skills-session {
    background-image: linear-gradient(#2c73d2, white);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.projects-page {
    color: white
}
